/*-------------------
 font links
 -------------------- */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


/*----------------------------
 common use of style 
 ----------------------------*/
 *, *::before, *::after{
     margin:0;
     padding:0;
     box-sizing:border-box;
     font-family: 'Poppins', sans-serif;
 }
 body{
     background-color:#F3F1FF;
 }
 .section-header{
     padding:33px;
     color:#562EFF;
 }
 hr{
    border: 1px solid #D1D1D1;
    margin:0 33px;
    
 }
 
 /* header styles */
 header{
     background-color:#562EFF;
     height: 90px;
     display: flex;
     justify-content: center;
     align-items: center;
 }
 .nav-img img{
     width:51px;
     height:51px;
 }
 .nav-container{
     width: 870px;
     display:flex;
     justify-content: space-between;
     align-items:center;
     
 }
 .nav-left .nav-text{
     margin-left:15px;
 }
 .nav-left .nav-text a{
     text-decoration: none;
     color:#fff;
 }
 .nav-left, .nav-right{
     display: flex;
     justify-content: center;
     align-items: center;
 }
 .nav-right ul{
     display: flex;
     list-style: none;
 }
 .nav-right ul li{
     margin: 0 36px; 
 }
 .nav-right ul li a{
    text-decoration: none;
    color:#fff;
 }

 /* top player styles */
 main{
     display: flex;
     justify-content: center;
     flex-direction: column;
     align-items: center;
 }
 main .section-1{
    background-color: #fff;
    width:870px;
}
.player{
    margin-bottom:30px;
}
 .player img{
     width:56px;
     height:56px;
     margin-right:16px;
     
 }

 .top-player{
     display: grid;
     grid-template-columns: repeat(3,1fr);
     margin-left:-33px;
 }
 .top-player .player{
     display: flex;
     justify-content: center;
     align-items: center;
 }
 .player h3{
     font-size:18px;
 }