/*-------------------
 font links
 -------------------- */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');



/*----------------------------
 common use of style 
 ----------------------------*/
 *, *::before, *::after{
     margin:0;
     padding:0;
     box-sizing:border-box;
     
 }
 body{
     background-color:#F3F1FF;
     font-family: 'Poppins', sans-serif;
 }
 .section-header{
     padding:33px;
     color:#562EFF;
 }
 hr{
    border: 1px solid #D1D1D1;
    margin:0 33px;
    
 }
 section{
     border-radius: 5px;
     margin:47px 0 -25px 0;
 }
 main .section-1, .section-2{
    background-color: #fff;
    width:870px;
}

 /* header styles */
 header{
     background-color:#562EFF;
     height: 90px;
     display: flex;
     justify-content: center;
     align-items: center;
 }
 .nav-img img{
     width:51px;
     height:51px;
 }
 .nav-container{
     width: 870px;
     display:flex;
     justify-content: space-between;
     align-items:center;
     
 }
 .nav-left .nav-text{
     margin-left:15px;
 }
 .nav-left .nav-text a{
     text-decoration: none;
     color:#fff;
 }
 .nav-left, .nav-right{
     display: flex;
     justify-content: center;
     align-items: center;
 }
 .nav-right ul{
     display: flex;
     list-style: none;
 }
 .nav-right ul li{
     margin: 0 36px; 
 }
 .nav-right ul li a{
    text-decoration: none;
    color:#fff;
 }

 /* top player styles */
 main{
     display: flex;
     justify-content: center;
     flex-direction: column;
     align-items: center;
 }
 
.player{
    margin-bottom:30px;
}
 .player img{
     width:56px;
     height:56px;
     margin-right:16px;
     
 }

 .top-player{
     display: grid;
     grid-template-columns: repeat(3,1fr);
     margin-left:-33px;
 }
 .top-player .player{
     display: flex;
     justify-content: center;
     align-items: center;
 }
 .player h3{
     font-size:18px;
 }


 /* top blog styles */

 .blog-img img{
     width:177px;
     height:117px;
 }

 .top-blogs{
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     grid-row-gap:26px;
     margin-bottom:25px;
 }
 .top-blogs .top-blog{
     display: flex;
     justify-content: center;
     
 }
 .blog-content{
     width:200px;
     margin-left:16px;
 }
 .blog-content p{
     font-size:20px;
     
 }

 .blog-content .blog-text{
     font-size:16px;
     color:#9F9F9F;
 }
 .blog-content p a{
     text-decoration :none;
     color:#562EFF;
 }


 /* lates courses */
 .section-2{
     margin-bottom:50px;
     padding-bottom:20px;
 }

 .course-img img{
     width: 224px;
     height:104px;
 }
.lates-course{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    margin:0 30px;
    
}
.course-content {
    width:222px;
}
.course-head{
    font-family: Roboto;
    font-size:20px;
}
.course-designer{
    font-family: Roboto;
    font-size:14.69px;
    font-weight: 400;
    color:#ED6B4F;
}
span > i, span{
    font-family:Roboto;
    font-size:12px;
    font-weight:400;
}

.course-icon{
    display:flex;
    justify-content: space-between;
    margin:13px 0;
    align-items: center;
}
.course{
    box-shadow: 0 1px 1px 1px gray;
    padding:10px 10px 0 10px;
    border:none;
    outline:none;
    border-radius: 5px;
}
.fa-star{
    color:#FFC014;
}
span .not-filled, span{
    color:#AEAEAE;
    
}
.icon-watch .fa-clock, .icon-time{
    color:#ED6B4F;
    padding:10px;
}

.icon-watch{
    background-color:#FEE5DF;
    border-radius: 14.59px;
}

@media only screen and (max-width:688px){
.nav-container, .top-player, .lates-course, .top-blogs{
    display:grid;
    grid-template-columns: 1fr;
    grid-row-gap:1em;
    
 }
 .nav-right{
    display:flex;
    justify-content: space-between;
    
 }
 .nav-right ul li, .nav-img img{
    margin: 0 10px; 
    padding-bottom:15px;
}
.top-blog{
    display: grid;
    grid-template-columns: 1;
    grid-gap:-2em;
  
}
.blog-img{
    width:80%;
    position:relative;
}
.blog-img img{
    
    width:100%;
    position:absolute;


}



}